<section class="text-white">
  <app-navigation></app-navigation>
  <div class="container">
    <h1 class="fade" style="--i: 1">About Me</h1>
    <p class="fade" style="--i: 2">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus
      reprehenderit fugit velit consequuntur earum minima, a possimus dolores.
      Quos dolor enim corporis ipsa vero id, sapiente ipsam vel reprehenderit
      ut.
    </p>

    <div class="about-col">
      <div class="img-col fade" style="--i: 3">
        <img src="../../assets/images/profile.jpg" alt="profile" />
      </div>

      <div class="info-col">
        <h2 class="fade" style="--i: 4">Full Stack Developer!</h2>
        <p class="fade" style="--i: 5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nulla in
          dicta error, veritatis placeat.
        </p>

        <div class="icon-list-col">
          <div class="icon-list">
            <ul>
              <li class="fade" style="--i: 6">
                <i class="bx bx-chevron-right"></i><Strong>Name:</Strong>
                <span>Zaw Lynn Htet</span>
              </li>
              <li style="--i: 7" class="fade">
                <i class="bx bx-chevron-right"></i><Strong>Phone:</Strong
                ><span>+959 424 370 693</span>
              </li>
              <li class="fade" style="--i: 6">
                <i class="bx bx-chevron-right"></i><Strong>Address:</Strong
                ><span>Mandalay, Chanmyatharsi, 51 * 113A street</span>
              </li>
              <li class="fade" style="--i: 9">
                <i class="bx bx-chevron-right"></i><Strong>Email:</Strong
                ><span>zawlynnhtet2002@gmail.com</span>
              </li>
            </ul>
          </div>

          <div class="icon-list">
            <ul>
              <li class="fade" style="--i: 10">
                <i class="bx bx-chevron-right"></i><Strong>Age:</Strong
                ><span>21</span>
              </li>
              <li style="--i: 11" class="fade">
                <i class="bx bx-chevron-right"></i><Strong>Degrees:</Strong
                ><span>First year in Yandanabon University</span>
              </li>
              <li class="fade" style="--i: 12">
                <i class="bx bx-chevron-right"></i><Strong>Current Job:</Strong
                ><span>Learning programming in MSI</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
