<app-navigation></app-navigation>
<section class="text-white">
  <div class="container">
    <h1 class="fade" style="--i: 1">About Me</h1>
    <p class="fade content" style="--i: 2">
      I'm Zaw Lynn Htet Fullstack Developer. I'm a first year student at
      Yandanabon University and I've been learning Programming at Mandalay
      Software Institute (MSI). I'm good at logical thinking and creative
      skills.
    </p>

    <div class="info-col">
      <h2 class="fade" style="--i: 4">Full Stack Developer!</h2>
      <p class="fade content" style="--i: 5">
        I'm used to create projects that are note application with NodeJs
        Express, MongoDB and Flutter and build RestFull API with NodeJs Express,
        Sequelize, PostgreSQL and AWS cloud service.
      </p>

      <div class="icon-list-col">
        <div class="icon-list">
          <ul>
            <li class="fade" style="--i: 6">
              <i class="bx bx-send"></i><Strong>Name:</Strong>
              <span>Zaw Lynn Htet</span>
            </li>
            <li style="--i: 7" class="fade">
              <i class="bx bx-send"></i><Strong>Phone:</Strong
              ><span>+959 424 370 693</span>
            </li>
            <li class="fade" style="--i: 6">
              <i class="bx bx-send"></i><Strong>Address:</Strong
              ><span>Mandalay, Chanmyatharsi, 51 * 113A street</span>
            </li>
            <li class="fade" style="--i: 9">
              <i class="bx bx-send"></i><Strong>Email:</Strong
              ><span>zawlynnhtet2002@gmail.com</span>
            </li>
          </ul>
        </div>

        <div class="icon-list">
          <ul>
            <li class="fade" style="--i: 10">
              <i class="bx bx-send"></i><Strong>Age:</Strong><span>21</span>
            </li>
            <li style="--i: 11" class="fade">
              <i class="bx bx-send"></i><Strong>Degrees:</Strong
              ><span>First year in Yandanabon University</span>
            </li>
            <li class="fade" style="--i: 12">
              <i class="bx bx-send"></i><Strong>Current Job:</Strong
              ><span>Learning programming in MSI</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
