* {
  list-style: none;
  text-decoration: none;
}

section {
  background: var(--main-color);
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;
}

.container p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
  font-family: sans-serif;
  text-align: justify;
}

.container h1 {
  font-size: 2rem;
  color: aqua;
  font-family: sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.container {
  padding-top: 40px;
  padding-left: 200px;
}

@media screen and (max-width: 1270px) {
  .container {
    padding-left: 300px;
    padding-top: 80px;
  }
}

@media screen and (max-width: 994px) {
  .container {
    padding-left: 10px;
  }
}

.container .content {
  font-family: sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.1rem;
  font-weight: 500;
}

.info-col {
  flex-basis: 70%;
}

.info-col h2 {
  font-size: 2rem;
  color: aqua;
  font-family: sans-serif;
  font-weight: 600;
}

.info-col .content {
  font-style: italic;
}

.icon-list-col {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.icon-list-col .icon-list ul li {
  margin: 15px 0;
  font-family: sans-serif;
}

.icon-list ul li span {
  margin-left: 5px;
  color: rgb(207, 210, 212);
  font-weight: 400;
}

i {
  margin-right: 5px;
}

.fade {
  transition: all 0.5s ease;
  opacity: 0;
  animation: fade 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes fade {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@media screen and (max-width: 1200px) {
  .about-col {
    flex-direction: column;
  }
  .about-col .img-col img {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .icon-list-col {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 600px) {
  .content {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 500px) {
  .about-col .img-col img {
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  h1,
  h2 {
    font-size: 1.5rem !important;
    font-weight: 600;
  }
}

@media screen and (max-width: 576px) {
  h1,
  h2 {
    font-size: 1.4rem !important;
    font-weight: 400 !important;
  }
}
