<section>
  <app-navigation></app-navigation>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 pb-4 slide-bottom" style="--i: 1">
        <h1 class="text-brand text-white">Contact</h1>
        <p class="text-white">
          If you have any work from me or any types of quries related to my
          tutorial, you can send me message from here. It's my pleasure to help
          you.
        </p>
      </div>

      <div class="col-lg-8">
        <form action="#" class="row g-lg-3 gy-3">
          <div class="form-group col-md-6 slide-right" style="--i: 2">
            <input
              type="text"
              class="form-control"
              placeholder="Enter your name"
            />
          </div>
          <div class="form-group col-md-6 slide-left" style="--i: 2">
            <input
              type="email"
              class="form-control"
              placeholder="Enter your email"
            />
          </div>
          <div class="form-group col-md-12 fade" style="--i: 3">
            <input
              type="text"
              class="form-control"
              placeholder="Enter subject"
            />
          </div>
          <div class="form-group col-md-12 fade" style="--i: 4">
            <textarea
              name=""
              id=""
              cols="30"
              rows="4"
              class="form-control"
              placeholder="Enter your message"
            ></textarea>
          </div>
          <div class="form-group col-md-12 d-grid fade" style="--i: 5">
            <button type="submit" class="btn">Contact me</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
