section {
  background: var(--main-color);
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;
  font-family: sans-serif;
}

.container {
  padding-top: 40px;
  padding-left: 200px;
}

@media screen and (max-width: 1270px) {
  .container {
    padding-left: 300px;
    padding-top: 60px;
  }
}

@media screen and (max-width: 994px) {
  .container {
    padding-left: 10px;
  }
}
.title {
  font-size: 2rem;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  column-span: all;
  display: block;
  margin-bottom: 50px;
}

.span {
  position: relative;
  color: aqua;
}

.span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -3px;
  background: #0ff;
}

h4 {
  color: #d35400;
  font-weight: 600;
  padding: 0 5px 6px;
  letter-spacing: 2px;
}

.icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.icon img {
  width: 130px;
  height: 130px;
  filter: contrast(150%);
}

p {
  text-align: justify;
  color: #fff;
  letter-spacing: 2px;
}

.paragraph {
  columns: 200px 2;
  column-gap: 60px;
  color: #fff;
  padding-bottom: 25px;
}

.border {
  padding: 0 18px 18px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.border:hover {
  box-shadow: -6px 6px 0 0 #0ff;
}

legend {
  margin-left: 30px;
}

ul li {
  list-style: cross-fade();
  letter-spacing: 2px;
}

.slide-top {
  transition: all 0.5s ease;
  opacity: 0;
  animation: slide-top 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes slide-top {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 770px) {
  .paragraph {
    column-gap: 40px;
  }
}

@media screen and (max-width: 750px) {
  .title {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  h4 {
    font-weight: 500;
  }
}

@media screen and (max-width: 580px) {
  .paragraph {
    column-gap: 20px;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 1.4rem !important;
    font-weight: 400 !important;
  }
}
