<app-navigation></app-navigation>
<section class="px-lg-5">
  <div class="container">
    <div class="paragraph">
      <h2 class="title slide-top" style="--i: 1">
        My <span class="span">Skills</span>
      </h2>
      <fieldset class="border slide-top" style="--i: 2">
        <legend class="float-none w-auto"><h4>Frontend Development</h4></legend>
        <div class="icon">
          <img src="../../assets/images/frontend.png" alt="" />
        </div>
        <p>
          Create mobile apps with Flutter and single web page applications by
          using Angular Framework with Html, Css & bootstrap for Frontend.
        </p>
        <ul>
          <li>HTML, CSS, Bootstrap</li>
          <li>Javascript</li>
          <li>Angular</li>
          <li>React</li>
          <li>Flutter</li>
        </ul>
      </fieldset>
      <fieldset class="border slide-top" style="--i: 3">
        <legend class="float-none w-auto"><h4>Backend Development</h4></legend>
        <div class="icon">
          <img src="../../assets/images/backend.png" alt="" />
        </div>
        <p>
          Building own Database and REST-API with SQL or NO-SQL databases using
          Express with NodeJS for Backend.
        </p>
        <ul>
          <li>NodeJS</li>
          <li>Express</li>
          <li>Sequelize</li>
          <li>MongoDB</li>
          <li>MySQL</li>
          <li>AWS</li>
          <li>Firebase</li>
        </ul>
      </fieldset>
    </div>
  </div>
</section>
