<section class="px-lg-5">
  <app-navigation></app-navigation>
  <div class="container">
    <div class="row pb-4">
      <div class="col-lg-8">
        <h2 class="text-brand slide-top" style="--i: 1">Skills & Experience</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-4 slide-top" style="--i: 2">
        <div class="service p-4 bg-secondary rounded-4 text-white">
          <h4>HTML</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Necessitatibus minus consequuntur debitis, doloribus, totam
            assumenda, ullam blanditiis perspiciatis ratione recusandae vel.
          </p>
          <a href="" class="link-custom">Read More</a>
        </div>
      </div>

      <div class="col-md-4 mb-4 slide-top" style="--i: 3">
        <div class="service p-4 bg-secondary rounded-4 text-white">
          <h4>HTML</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Necessitatibus minus consequuntur debitis, doloribus, totam
            assumenda, ullam blanditiis perspiciatis ratione recusandae vel.
          </p>
          <a href="" class="link-custom">Read More</a>
        </div>
      </div>

      <div class="col-md-4 mb-4 slide-top" style="--i: 4">
        <div class="service p-4 bg-secondary rounded-4 text-white">
          <h4>HTML</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Necessitatibus minus consequuntur debitis, doloribus, totam
            assumenda, ullam blanditiis perspiciatis ratione recusandae vel.
          </p>
          <a href="" class="link-custom">Read More</a>
        </div>
      </div>

      <div class="col-md-4 mb-4 slide-top" style="--i: 5">
        <div class="service p-4 bg-secondary rounded-4 text-white">
          <h4>HTML</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Necessitatibus minus consequuntur debitis, doloribus, totam
            assumenda, ullam blanditiis perspiciatis ratione recusandae vel.
          </p>
          <a href="" class="link-custom">Read More</a>
        </div>
      </div>

      <div class="col-md-4 mb-4 slide-top" style="--i: 6">
        <div class="service p-4 bg-secondary rounded-4 text-white">
          <h4>HTML</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Necessitatibus minus consequuntur debitis, doloribus, totam
            assumenda, ullam blanditiis perspiciatis ratione recusandae vel.
          </p>
          <a href="" class="link-custom">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
