<section>
  <app-navigation></app-navigation>

  <div class="container">
    <div class="row pb-4">
      <div class="col-lg-8">
        <h2 class="text-brand text-white slide-top" style="--i: 1">
          My Projects
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card slide-top" style="--i: 2">
          <img src="../../assets/images/movie.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card slide-top" style="--i: 3">
          <img src="../../assets/images/weather.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card slide-top" style="--i: 4">
          <img src="../../assets/images/music.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card slide-top" style="--i: 5">
          <img src="../../assets/images/chatapp.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card slide-top" style="--i: 6">
          <img src="../../assets/images/bmi.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card slide-top" style="--i: 7">
          <img src="../../assets/images/tictactoe.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
