<app-navigation></app-navigation>
<section>
  <div class="container">
    <div
      class="d-md-flex justify-content-center align-items-center first-div g-5"
    >
      <div class="details">
        <h1 class="greet slide-right" style="--i: 1">
          Hi! I Am <button class="btn dev">Junior Fullstack Dev</button>
        </h1>
        <h1 class="greet slide-right" style="--i: 2">Zaw Lynn Htet</h1>

        <p class="intro slide-right" style="--i: 3">
          I am a qualified and junior full stack developer with three months
          intensive training of experience in Software Engineering. Strong
          creative and analytical skills. Team player with an eye for detail.
        </p>

        <button class="btn hire">Hire Me</button>
        <button class="btn project">
          <a routerLink="/project"> Project</a>
          <i class="bi bi-arrow-up-right"></i>
        </button>
        <h5 class="mt-5 contact" style="--i: 4">Contact</h5>
        <div class="social-media">
          <a href="" style="--i: 5"><i class="bx bxl-github"></i></a>
          <a href="" style="--i: 6"><i class="bx bxl-instagram-alt"></i></a>
          <a href="" style="--i: 7"><i class="bx bxl-facebook"></i></a>
          <a href="" style="--i: 8"><i class="bx bxl-linkedin"></i></a>
        </div>
        <p class="email" style="--i: 9">
          <a href="zawlynnhtet2002@gmail.com"
            ><i
              class="bx bxs-envelope bx-flip-horizontal bx-tada mail"
              style="color: #f35836"
            ></i>
            zawlynnhtet2002@gmail.com</a
          >
        </p>
      </div>

      <div class="animation">
        <img src="..//../assets/images/Programming-amico.png" alt="animation" />
      </div>
    </div>
  </div>
</section>
