@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

section {
  background: var(--main-color);
  color: #e8dff6;
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;
}

.container {
  padding-top: 60px;
  padding-left: 200px;
}

@media screen and (max-width: 1270px) {
  .container {
    padding-left: 300px;
    padding-top: 60px;
  }
}

@media screen and (max-width: 994px) {
  .container {
    padding-left: 10px;
  }
}

p {
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
  padding: 20px 20px 20px 0;
}

.details .greet {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 2.8rem;
}

.details .dev {
  background: rgb(21, 100, 202);
  border-radius: 30px;
  border: none;
  outline: none;
  color: #fff;
  pointer-events: none;
}

.details .hire {
  background: rgb(21, 202, 166);
  border-radius: 5px;
  margin-right: 20px;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #e8dff6;
  font-weight: 500;
  opacity: 0;
  animation: popup 1s ease forwards;
  animation-delay: 1.6s;
}

.details .project {
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  opacity: 0;
  color: #e8dff6;
  animation: popup 1s ease forwards;
  animation-delay: 1.6s;
}

.details .project:hover {
  background: rgba(0, 0, 0, 0.2);
}

.project a {
  text-decoration: none;
  color: #fff;
}

@keyframes popup {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.contact {
  transition: all 0.5s ease;
  opacity: 0;
  animation: slideleft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.email {
  transition: all 0.5s ease;
  opacity: 0;
  animation: slideleft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.email a {
  color: #e8dff6;
  text-decoration: none;
}

.email .mail {
  font-size: 20px;
}

.social-media a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 25px;
  margin: 10px 15px 20px 0;
  transition: all 0.5s ease;
  opacity: 0;
  animation: slideleft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.social-media i {
  width: 40px;
  height: 40px;
  clip-path: circle();
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.social-media i:hover {
  box-shadow: inset 0 0 25px #8db0f64d;
}

@keyframes slideleft {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-right {
  opacity: 0;
  animation: slideleft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.animation {
  opacity: 0;
  animation: popup 1s ease forwards;
  animation-delay: 1.8s;
}

.animation img {
  width: 90em;
  mix-blend-mode: color-burn;
  transition: 1.5s;
  filter: contrast(150%);
}

.animation img:hover {
  transform: translateY(-7px);
}

.first-div {
  padding-bottom: 50px;
}

@media screen and (max-width: 770px) {
  .greet {
    font-weight: 600;
    font-size: 1.8rem !important;
  }
}
